* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background: url(/images/senegal.png) no-repeat center/cover ;
    min-height: 100vh;
}
h1,h2 {
    text-align: center;
    background-color: antiquewhite;
}
img {
    width:  60%;
    margin-top: 20px;
    margin: 20px auto;
    display: block;
}
